:4000 {
        bind 0.0.0.0
        route /api/* {
                uri strip_prefix /api/
                rewrite * /{uri} # rewrite the request without the "/api" prefix
                reverse_proxy :8080
        }
        route {
                reverse_proxy :3000
        }
}
