:root {
  --text-colour: #dbd8d3;

  --primary-dark: #0D0C1D;
}

.App {
  text-align: center;
}

.content-area {
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.default-text {
  color: var(--text-colour);
}
