
.shopping-list-area {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0.5%;
}

.shopping-list-header {
  padding-bottom: 1%;
}

// add item box
.add-item-input {
  width: calc(100% - 50px);
  text-align: left;
  overflow: hidden;
  border-style: hidden;

  background-color: var(--bg-colour);
  color: var(--text-colour)
}

.add-item-input:focus {
  outline: none;
}
